# Exploratory Data Analysis Guide

![image](./img/data_preparation.jpg)

En la plataforma de datos datamarket.es podemos encontrar los datos de los vehículos de segunda mano a la venta de las principales plataformas
Los datos se han obtenido de la base de datos (https://datamarket.es/#coches-de-segunda-mano-dataset), en este caso se ha optado por coger una muestra de la base de datos total, ya que la base de datos de total no es de acceso público.

En los últimos meses/años el mercado de vehliculos de segunda mano ha tenido ggran importancia debeido a la crisis de componene que ha azontado a la fabricación de nuevos vehliculos así como la incertidumbre creada sobre cual puede ser el combustible del futuro lo que hace dudar a la hora de comprar un vehículo. Por todo esto vamos a analizar el conjunto de datos de los vehículos de segunda mano a la venta con el fin de aclarar cual podría ser una buna compra.

El conjunto de datos consta de marcas, modelos y versiones de gran cantidad de vehículos asi como potencia, kilometros, año, precio... de un segundo dataset se obtienen los datos de CO2 de cada vehículo para poder comparar el consumo.

# Data Understanding

### Importar librerias

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import os

# Leer csv con datos

In [3]:
ruta_ventas = f'coches-de-segunda-mano-sample.csv'
df_ventas_raw = pd.read_csv(ruta_ventas)

## Forma del dataframe

In [31]:
df_ventas_raw.shape

(50000, 21)

## Primeros valores de los 2 dataFrame

In [33]:
df_ventas_raw.head()

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
0,e158ae0ca53119ca199c28c36b5c2fcd,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,Toledo,SEAT Toledo 4p.,950,NaN,Diésel,2000.0,227000,...,4,Manual,Verde,5,False,0f4bb8455d27349b8273109b66a847f3,Navarra,Spain,2020-12-18 10:47:13,2021-01-15 00:00:00
1,ff267ebb7e700246f47f84f3db660b4b,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C1,CITROEN C1 PureTech 60KW 82CV Feel 5p.,6200,NaN,Gasolina,2017.0,50071,...,5,Manual,Blanco,6,True,Autos Raymara,Tenerife,Spain,2021-01-02 11:25:40,2021-01-15 00:00:00
2,de4b02db28ea7786c622b969be10c7c7,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit Connect,FORD Transit Connect Van 1.5 TDCi 100cv Ambien...,7851,7024.0,Diésel,2016.0,103000,...,4,Manual,Blanco,10,True,Auto 96,Barcelona,Spain,2020-12-16 10:51:45,2021-01-15 00:00:00
3,0449972a4d07594acf92e9a7dd28b39c,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Caravelle,VOLKSWAGEN Caravelle Largo 2.0 TDI 140 Comfort...,19426,NaN,Diésel,2014.0,120000,...,4,Manual,Blanco,9,True,Inniauto,Navarra,Spain,2020-11-25 11:09:14,2021-01-15 00:00:00
4,12c4fa49bd4fdf23f19ecf396d3f02ef,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit,FORD Transit 350 96kW L4 Ambiente Propulsion T...,22850,22800.0,Diésel,2017.0,107000,...,2,Manual,Blanco,4,True,"Autofleet España,s.l",Sevilla,Spain,2021-01-12 20:00:34,2021-01-15 00:00:00

## Mostrar valores aleatorios de los dataframe

In [35]:
df_ventas_raw.sample(5)

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
10920,091ec1e8cf76a761aac04c6f6c666558,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Golf,VOLKSWAGEN Golf Sport 1.5 TSI EVO 110kW 150CV 5p.,22500,20500.0,Gasolina,2017.0,59700,...,5,Manual,6T6T Amarillo CÃºrcuma (metalizado),13,True,Parte Automóviles Volkswagen,Cantabria,Spain,2021-01-14 19:44:41,2021-01-15 00:00:00
13563,bd0371719b14ad7a6d23290e3a9207eb,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C5,CITROEN C5 5p.,2000,NaN,Diésel,2003.0,166000,...,5,Manual,Azul,9,False,d41d8cd98f00b204e9800998ecf8427e,Jaén,Spain,2020-12-24 10:15:49,2021-01-15 00:00:00
47004,a651aac22d49f29d5c3d18377563cba7,9881bcdd5a0ad4733037b3fb25e69c3a,FIAT,Tipo,FIAT Tipo 1.3 16v Lounge 95 CV diesel Multijet...,8000,NaN,Diésel,2016.0,80000,...,4,Manual,Gris / Plata,14,False,4d186321c1a7f0f354b297e8914ab240,A Coruña,Spain,2021-01-06 20:05:45,2021-01-15 00:00:00
15285,3044d871f036568bbe72e43ec0b5eecc,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C3,CITROEN C3 BlueHDi 75KW 100CV SS Live Pack 5p.,14999,11999.0,Diésel,2020.0,8,...,5,Manual,Blanco,24,True,Antón Automoción,Vizcaya,Spain,2021-01-11 05:27:00,2021-01-15 00:00:00
23816,1195311253e179eb3899250e0efb3be6,9881bcdd5a0ad4733037b3fb25e69c3a,SUBARU,XV,SUBARU XV 1.6i Executive Plus Auto 5p.,27300,NaN,Gasolina,2020.0,4800,...,5,Automático,Azul (Dark Blue Pearl),5,True,Quality Center,Baleares,Spain,2021-01-11 16:56:40,2021-01-15 00:00:00

## Nombre las columnas de los dataframe

In [37]:
df_ventas_raw.columns

Index(['url', 'company', 'make', 'model', 'version', 'price', 'price_financed',
       'fuel', 'year', 'kms', 'power', 'doors', 'shift', 'color', 'photos',
       'is_professional', 'dealer', 'province', 'country', 'publish_date',
       'insert_date'],
      dtype='object')

## Copia de seguridad

## Comprobar si está vacío

In [41]:
df_ventas_raw.empty

False

# Tipos de datos

In [43]:
df_ventas_raw.dtypes

url                 object
company             object
make                object
model               object
version             object
price                int64
price_financed     float64
fuel                object
year               float64
kms                  int64
power              float64
doors                int64
shift               object
color               object
photos               int64
is_professional       bool
dealer              object
province            object
country             object
publish_date        object
insert_date         object
dtype: object

**descripción de cada variable**

# Información estadistica de los datos numéricos

In [44]:
df_ventas_raw.describe()

,price,price_financed,year,kms,power,doors,photos
count,50000.000000,23563.000000,49998.000000,5.000000e+04,41472.000000,50000.000000,50000.000000
mean,15166.270260,18480.029283,2012.311032,1.163591e+05,146.396388,4.505380,16.199120
std,16485.669747,13389.800738,6.677760,1.072921e+05,71.283964,0.868001,12.422882
min,300.000000,700.000000,1970.000000,0.000000e+00,29.000000,2.000000,0.000000
25%,5500.000000,10790.000000,2007.000000,3.830000e+04,109.000000,4.000000,7.000000
50%,11750.000000,15500.000000,2015.000000,9.999900e+04,130.000000,5.000000,13.000000
75%,19800.000000,21995.000000,2018.000000,1.749000e+05,163.000000,5.000000,23.000000
max,549900.000000,428999.000000,2021.000000,5.000000e+06,800.000000,5.000000,54.000000

# Contar valores únicos

In [46]:
# Número de provincias
df_ventas_raw.province.nunique()

52

In [47]:
# Numero de fabricantes
df_ventas_raw.make.nunique()

75

# Listar las provincias

In [48]:
provincias = df_ventas_raw.province.unique()

In [49]:
provincias

array(['Navarra', 'Tenerife', 'Barcelona', 'Sevilla', 'Madrid',
       'Baleares', 'Alicante', 'Murcia', 'Guipúzcoa', 'Málaga', 'Jaén',
       'Las Palmas', 'Granada', 'Lugo', 'Huelva', 'Asturias',
       'Pontevedra', 'Córdoba', 'Zaragoza', 'León', 'A Coruña',
       'Cantabria', 'Toledo', 'Vizcaya', 'Burgos', 'Lleida', 'Almería',
       'Badajoz', 'Álava', 'Valencia', 'Cádiz', 'La Rioja', 'Girona',
       'Ciudad Real', 'Ávila', 'Tarragona', 'Orense', 'Segovia',
       'Cáceres', 'Cuenca', 'Albacete', 'Castellón', 'Guadalajara',
       'Huesca', 'Teruel', 'Valladolid', 'Salamanca', 'Soria', 'Palencia',
       'Zamora', 'Ceuta', nan, 'Melilla'], dtype=object)

# Comunidades Autónomas

In [87]:
def comunidades_autonomas(x):
    galicia = ['A Coruña','Lugo','Pontevedra','Orense']
    asturias =['Asturias']
    cantabria = ['Cantabria']
    pais_vasco = ['Vizcaya','Guipúzcoa','Álava']
    navarra = ['Navarra']
    la_rioja = ['La Rioja']
    aragon = ['Huesca','Zaragoza','Teruel']
    catalunya = ['Lleida','Girona','Barcelona','Tarragona']
    castilla_y_leon = ['León','Palencia','Burgos','Zamora','Valladolid',
                        'Soria','Salamanca','Ávila','Segovia']
    extremadura = ['Badajoz','Cáceres']
    madrid = ['Madrid']
    castilla_la_mancha = ['Guadalajara','Cuenca','Albacete','Ciudad Real',
                        'Toledo']
    valencia = ['Castellón','Valencia','Alicante']
    baleares = ['Baleares']
    murcia = ['Murcia']
    andalucia = ['Huelva','Sevilla','Jaén','Granada','Almería',
                    'Córdoba','Málaga','Cádiz']
    canarias = ['Las Palmas','Tenerife']
    ceuta = ['Ceuta']
    melilla = ['Melilla']
    if x in galicia:
        comunidad = 'Galicia'
    elif x in asturias:
        comunidad = 'Principado_de_Asturias'
    elif x in cantabria:
        comunidad = 'Cantabria'
    elif x in pais_vasco:
        comunidad = 'País_Vasco'
    elif x in navarra:
        comunidad = 'Navarra'
    elif x in la_rioja:
        comunidad = 'La_Rioja'
    elif x in aragon:
        comunidad = 'Aragón'
    elif x in catalunya:
        comunidad = 'Catalunya'
    elif x in castilla_y_leon:
        comunidad = 'Castilla_y_León'
    elif x in extremadura:
        comunidad = 'Extremadura'
    elif x in madrid:
        comunidad = 'Comunidad_de_Madrid'
    elif x in castilla_la_mancha:
        comunidad = 'Castilla_La_Mancha'
    elif x in valencia:
        comunidad = 'Comunidad_Valenciana'
    elif x in baleares:
        comunidad = 'Islas_Baleares'
    elif x in murcia:
        comunidad = 'Región_de_Murcia'
    elif x in andalucia:
        comunidad = 'Andalucía'
    elif x in canarias:
        comunidad = 'Canarias'
    elif x in ceuta:
        comunidad = 'Ceuta'
    elif x in melilla:
        comunidad = 'Melilla'
    else:
        comunidad = 'Desconocida'
    return comunidad

In [89]:
df_ventas_raw['Comunidad_Autonoma']=df_ventas_raw['province'].apply(comunidades_autonomas) # Creo la columna Comunidad autonoma

In [90]:
#Compruebo que solo me aparecen como desconocidas las Comunnidades con provincias NaN
df_ventas_raw.province[df_ventas_raw.Comunidad_Autonoma == 'Desconocida']

4657     NaN
5010     NaN
10770    NaN
14163    NaN
18125    NaN
32024    NaN
Name: province, dtype: object

In [94]:
df_ventas_raw.columns

Index(['url', 'company', 'make', 'model', 'version', 'price', 'price_financed',
       'fuel', 'year', 'kms', 'power', 'doors', 'shift', 'color', 'photos',
       'is_professional', 'dealer', 'province', 'country', 'publish_date',
       'insert_date', 'Comunidad_Autonoma'],
      dtype='object')

## Borro las columnas que no me hacen falta en el df de venta

In [98]:
Columnas_borrar_ventas = ['url','company','doors','color','photos','country','publish_date','insert_date']

In [101]:
df_ventas_raw.drop(columns=Columnas_borrar_ventas, inplace=True)

In [102]:
df_ventas_raw.columns

Index(['make', 'model', 'version', 'price', 'price_financed', 'fuel', 'year',
       'kms', 'power', 'shift', 'is_professional', 'dealer', 'province',
       'Comunidad_Autonoma'],
      dtype='object')

## Renombro las columnas del csv de ventas

In [103]:
renombrar_ventas = {'make':'Marca',
            'model':'Modelo',
            'version':'Version',
            'price':'Precio',
            'price_financed':'Precio_financiado',
            'fuel':'Combustible',
            'year':'Anyo',
            'kms':'Kilometros',
            'power':'Potencia',
            'shift':'tipo_cambio',
            'is_professional':'Vendedor_profesional',
            'dealer':'Vendedor',
            'province':'Provincia',
            'Comunidad_Autonoma':'Comunidad_Autonoma'}

In [106]:
df_ventas_raw.rename(columns=renombrar_ventas, inplace=True)

In [128]:
df_ventas_raw.columns

Index(['Marca', 'Modelo', 'Version', 'Precio', 'Precio_financiado',
       'Combustible', 'Anyo', 'Kilometros', 'Potencia', 'tipo_cambio',
       'Vendedor_profesional', 'Vendedor', 'Provincia', 'Comunidad_Autonoma'],
      dtype='object')

# Guardo los csv con el primer filtro de columnas

In [130]:
df_ventas_raw.to_pickle('df_ventas.pkl')